# ---- SISTEMA ----
# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db

# ---- PYTHON ----
# Compilados, cachés y distribuciones
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.egg-info/
*.so

# Entornos virtuales
.env/
venv/
.venv/
ENV/

# Archivos de log
*.log

# ---- PROPIOS DEL PROYECTO ----
# Carpeta que no queremos subir
analysis_scraping/
